<odoo><menuitem id="menu_matchday_control" name="Match-Day Control" parent="sports_federation_competition_core.menu_competition_engine_v2_root" action="action_matchday_control" sequence="70"/><menuitem id="menu_matchday_incidents" name="Incidents" parent="sports_federation_competition_core.menu_competition_engine_v2_technical" action="action_matchday_incidents" sequence="60"/></odoo>
